<a href="https://colab.research.google.com/github/naufalazhar2025/KKAsmt1/blob/main/1_Fungsi_print_Naufal_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

menampilkan variable dan teks bebas

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
harga_telur = 26000
print("harga telur per 1 kg adalah", harga_telur)

harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "reza"
print ("nama pembeli telur adalah" + nama_pembeli)

nama pembeli telur adalahreza

In [ ]:
nama_narkobawan = "dafin"
print("nama pembeli telur adalah " + nama_narkobawan)

nama pembeli telur adalah dafin

Latihan soal
1. Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variable: mata_pelajaran_favorit = kode dan kecerdasan buatan
3. Tampilkan nilai variable: nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string, "+",","). "Nilai KKA saya adalah {nilai_kka}loh!"

#Escape character

In [ ]:
print("nama: denzuhdi")
print("kelas: XI.1")
print("nomer absen: 28")

nama: denzuhdi
kelas: XI.1
nomer absen: 28

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
print("mata_pelajaran_favorit = kode dan kecerdasan buatan")

mata_pelajaran_favorit = kode dan kecerdasan buatan

In [ ]:
nilai_kka = 100
print("nilai KKA")

nilai KKA

In [ ]:
nilai_KKA = 100
print("nilai KKA saya adalah {nilai_KKA} loh")

nilai KKA saya adalah {nilai_KKA} loh

In [ ]:
print("dzawil 'irfan")

dzawil 'irfan

In [ ]:
print("bu cici berkata, \"ambil beng beng nya di meja.\"")

bu cici berkata, "ambil beng beng nya di meja."

In [ ]:
print("lokasi vidio pramuka ada di D:\\pramuka 2026\\mp4")

lokasi vidio pramuka ada di D:\pramuka 2026\mp4

In [ ]:
print("sam'ani sumiro")

sam'ani sumiro

parameter fungsi print

In [ ]:
tahun = 2024
bulan = "Oktober"
tanggal = 5

print(tanggal, end=" ")
print(bulan, end=" ")
print(tahun)

5 Oktober 2024

In [ ]:
Nama_depan = "Naufal"
Nama_belakang = "Azhar"
print(Nama_depan, Nama_belakang)

Naufal Azhar

In [ ]:
Nama_depan = "Reza"
Nama_belakang = "fairuz"
print(Nama_depan, Nama_belakang)

Reza fairuz

In [ ]:
Senin = jam 1 "matematika", jam 2 "bahasa ing." Jam 3 "Informatika"
Selasa = jam 1 "bahasa", jam 2 "sejarah", jam 3 "olahraga"
Rabu = jam 1 "informatika", jam 2 "ma'rifatullah", jam 3 "biologi"

print(Senin, Selasa, Rabu)

SyntaxError: invalid syntax (ipython-input-21760262.py, line 1)

In [ ]:
("Bu Sinta berkata, \"berikut adalah judul pelajaran hari Senin Selasa Rabu silahkan di simpan di laptop masing masing di folder local disk D:\\jadwal pelajaran\\kelas XI semester 1\"")

'Bu Sinta berkata, "berikut adalah judul pelajaran hari Senin Selasa Rabu silahkan di simpan di laptop masing masing di folder local disk D:\\jadwal pelajaran\\kelas XI semester 1"'

Parameter fungsi

In [ ]:
nama_siswa_1 = "favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3)

favian Naufal Humaira

In [ ]:
print(nama_siswa_2, nama_siswa_1, sep="~")

Naufal~favian

In [ ]:
print(nama_siswa_3, nama_siswa_1, sep="~")

Humaira~favian

In [ ]:
print(nama_siswa_2, nama_siswa_1, nama_siswa_3, nama_siswa_1, sep="~")

Naufal~favian~Humaira~favian

In [ ]:
print(nama_siswa_2, end="~")
print(nama_siswa_1)
print(nama_siswa_3, end="~")
print(nama_siswa_1)

Naufal~favian
Humaira~favian